html{
	background: url(../img/fundo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: auto;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    color: white;
}

@font-face {
	font-family: aauxProThin;
	src: url(../fonts/AauxPro-Thin.ttf);
}

@font-face {
	font-family: expansivaBold;
	src: url(../fonts/Expansiva_bold.otf);
}

#main_title {
	text-align: center;
	margin: 22% auto auto auto;
}

#main_title h1 {
	font-family: expansivaBold;
	font-size: 450%;
	margin: 0 auto 10px auto;
}


#main_title h2 {
	font-family: aauxProThin;
	font-size: 110%;
	letter-spacing: 4px;
}

hr {
	margin: 0 auto;
	border-width: 0;
	border-top-width: 1px;
	width: 25%;
	tex-align: center;
}

.black {
	border-color: rgba(0, 0, 0, 0.6);
}

.white {
	border-color: rgba(255, 255, 255, 0.6);
}

#contact {
	font-family: aauxProThin; 
	font-weight: bold;
	text-align: center;
	bottom: 50px;
    position: absolute;
    width: 100%;
}

#contact p {
	margin: 5px auto;
}
