html,body{
    height:100%;
    min-height:100%;
    margin: 0;
    color: white;
}

.fullscreen-cont {
    display:block;
    position:relative;
    min-width:100%;
    min-height:100%;
}
.fullscreen-img {
    display:block;
    position:absolute;
    z-index:1;
    min-width:100%;
    min-height:100%;
    background: url(../img/fundo.jpg) center center no-repeat;
    background-size:cover;
}

.content {
    display:block;
    position:relative;
    z-index:2;
}



@font-face {
	font-family: aauxProThin;
	src: url(../fonts/AauxPro-Thin.ttf);
}

@font-face {
	font-family: expansivaBold;
	src: url(../fonts/Expansiva_bold.otf);
}

#main_title {
	text-align: center;
	margin-top: 20%;
	position: fixed;
	width: 100%;
}

#main_title h1 {
	font-family: expansivaBold;
	font-size: 4.5em;
	margin: 0 auto 10px auto;
}


#main_title h2 {
	font-family: aauxProThin;
	font-size: 1.3em;
	letter-spacing: 3px;
}

hr {
	margin: 0 auto;
	border-width: 0;
	border-top-width: 1px;
	width: 25em;
	text-align: center;
}

.black {
	border-color: rgba(0, 0, 0, 0.6);
}

.white {
	border-color: rgba(255, 255, 255, 0.6);
}

#contact {
	font-family: aauxProThin; 
	font-weight: bold;
    font-size: 1em;
	text-align: center;
	bottom: 50px;
    position: fixed;
    width: 100%;
}

#contact p {
	margin: 5px auto;
}
